html,
body {
    height: 100%;
    margin: 0;
}

.navbar-menu {
    list-style: none;
    align-items: center;
    display: flex;
}

.navbar_item {
    height: 80px;
}

.navbar__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: 125px;
    height: 100%;
    transition: all 0.3s;
}